<h4>Positions</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Position</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.position %></td>
      </tr>
    <% end %>
  </tbody>
</table>