<h4>Team Byes</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Team</th>
      <th>Week</th>
    </tr>
  </thead>

  <tbody>
    <% @byes.each do |bye| %>
      <tr>
        <td><img src="<%= bye.team.logo %>" width="25" alt="" /> <%= bye.team.full_name %></td>
        <td><%= bye.week %></td>
      </tr>
    <% end %>
  </tbody>
</table>
